@page "/login"
@layout MainLayout
@attribute [AllowAnonymous]

<div style="position: fixed; top: 0; right: 0; height: 100vh; width: calc(100vh / 1.618); overflow: hidden; z-index: 0;">
    <img src="@_loginImagePath" alt="" style="display: block; height: 100%; width: auto; min-width: 100%; object-fit: cover;" />
</div>

<div style="position: fixed; top: 0; left: 0; height: 100vh; width: calc(100vw - (100vh / 1.618)); z-index: 1; display: flex; align-items: center; justify-content: center;">
<div style="width: 500px; max-width: calc(100% - 32px);">
<MudStack AlignItems="AlignItems.Center" Spacing="2">
    <MudText Typo="Typo.h4" Align="Align.Center" GutterBottom="true">
        Identifiez&nbsp;-&nbsp;vous
    </MudText>
    <MudText Typo="Typo.body2" Align="Align.Center">
        <!-- Enter your credentials to get started. -->
        Entrez vos informations d’identification pour commencer.
    </MudText>
</MudStack>
<br/>
<MudForm @ref="@_form" Model="@_loginRequest">
    <MudGrid>
        <MudItem xs="12">
            <MudTextField @bind-Value="_loginRequest.Tenant" Label="Code Ets" Variant="Variant.Outlined" Required="true" RequiredError="Ce champ est obligatoire"/>
        </MudItem>
        <MudItem xs="12">
            <MudTextField @bind-Value="_loginRequest.Username" Label="Nom/Email" Variant="Variant.Outlined" Required="true" RequiredError="Ce champ est obligatoire" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField @bind-Value="_loginRequest.Password" 
                Label="Mot de passe" 
                Variant="Variant.Outlined" 
                Required="true"
                RequiredError="Ce champ est obligatoire"
                InputType="@_inputType"
                Adornment="Adornment.End"
                AdornmentIcon="@_passwordInputIcon"
                OnAdornmentClick="TogglePasswordVisibility"/>
        </MudItem>
        <MudItem xs="12">
            <MudButton Color="Color.Success" 
                Variant="Variant.Filled"
                Size="Size.Large" 
                Style="width: 100%"
                StartIcon="@Icons.Material.Filled.Login"
                Disabled="@_isSubmitting"
                OnClick="@(() => SubmitAsync())">Connexion</MudButton>
        </MudItem>
        <MudItem xs="12">
            <MudButton Color="Color.Primary" 
                Variant="Variant.Filled"
                Size="Size.Large" 
                Style="width: 100%"
                StartIcon="@Icons.Material.Filled.Input"
                    OnClick="@FillRootAdminCredentialsDuringDevelopment">Administrateurs</MudButton>
            <!-- OnClick="FillRootAdminCredentialsDuringDevelopment">Fill&nbsp;Admin&nbsp;Credentials</MudButton> -->
        </MudItem>
    </MudGrid>
</MudForm>
</div>
</div>

